body {
    background-image: url('../assets/fall_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
h1 {
    font-family: 'Abril Fatface', 'arial', 'sans-serif';
    font-weight: 400;
}

p {
    font-family: 'Funnel Sans', 'arial', 'sans-serif';
    font-weight: 400;
}

#music-bar .progress-bar {
    transform-origin: left center;
    will-change: transform;
    transition: transform 160ms linear;
    transform: scaleX(0);
    width: 100%;
}